import React from 'react';
import { BrowserRouter as Router, Routes, Route } from 'react-router-dom';
import { ArtifactProvider } from './context/ArtifactContext';
import Navbar from './components/layout/Navbar';
import Cursor from './components/ui/Cursor';
import Home from './pages/Home';
import Explore from './pages/Explore';
import Collections from './pages/Collections';
import ArtifactDetail from './pages/ArtifactDetail';
import About from './pages/About';
import Footer from './components/layout/Footer';

function App() {
  return (
    <ArtifactProvider>
      <Router>
        <Cursor />
        <Navbar />
        <main>
          <Routes>
            <Route path="/"                    element={<Home />} />
            <Route path="/explore"             element={<Explore />} />
            <Route path="/collections"         element={<Collections />} />
            <Route path="/artifact/:id"        element={<ArtifactDetail />} />
            <Route path="/about"               element={<About />} />
          </Routes>
        </main>
        <Footer />
      </Router>
    </ArtifactProvider>
  );
}

export default App;